body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Top of the page */

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 128px 100px 128px;
  background: #1F2937;
  gap: 64px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

ul {
  list-style: none;
  display: flex;
  font-size: 18px;
  gap: 32px;
}

a {
  text-decoration: none;
}

.header a {
  color: #E5E7EB;
}

.content {
  display: flex;
  gap: 50px;
}

.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  gap: 8px;
}

.hero-main {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-secondary {
  font-size: 18px;
  color: #E5E7EB;
}

button {
  background: #3882F6;
  color: #F9FAF8;
  border: 1px solid #3882F6;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 8px;
}

.img-placeholder {
  display: flex;
  background: #8c8d8f;
  color: #E5E7EB;
  font-size: 18px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

/* Random information section */

.random {
  display: flex;
  flex-direction: column;
  padding: 48px 0px 96px 0px;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.title {
  font-size: 32px;
  font-weight: 900;
  color: #1F2937;
}

.cards {
  display: flex;
  gap: 64px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 150px;
}

.square {
  border: 4px solid #3882F6;
  border-radius: 16px;
  height: 150px;
  width: 150px;
}

.subtext {
  text-align: center;
  color: #6a6a6b;
}

/* Quote section */

.quotecontainer {
  display: flex;
  background: #E5E7EB;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 100px 290px;
}

.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
}

.author {
  font-weight: bold;
  color: #1F2937;
  font-size: 22px;
  align-self: flex-end;
}

/* Third section */

.callcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px;
}

.blue {
  display: flex;
  background: #3882F6;
  padding: 40px 80px;
  border-radius: 16px;
  align-items: center;
  gap: 120px;
}

.text{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.first {
  font-size: 22px;
  font-weight: bold;
  color: #F9FAF8;
}

.second {
  font-size: 18px;
  color: #E5E7EB;
}

.blue button {
  border: 2px solid #F9FAF8;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1F2937;
  padding: 40px;
  font-size: 18px;
  color: #F9FAF8;
}

.footer a {
  color: #F9FAF8;
}